<div>
  <%= form_with model: @link, url: links_path, local: true do |form| %>
    <div class="flex flex-col space-y-6">
      <div class="flex flex-col space-y-2 w-3/6">
        <%= form.label :title, "Title:" %>
        <%= form.text_field :title, class: "rounded-lg", placeholder: "My website" %>
      </div>
      <div class="flex flex-col space-y-2 w-5/6">
        <%= form.label :target_url, "URL:" %>
        <%= form.text_field :target_url, class: "rounded-lg", placeholder: "https://my-awesome-website.com" %>
      </div>
      <div class="flex flex-col space-y-2">
        <%= form.submit "Shorten it", class: "w-fit px-4 py-2 bg-gray-900 text-gray-100 hover:bg-gray-700 rounded-lg cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>
