<%= render(HeaderComponent.new(@current_user)) %>

<div class="mt-16">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Your Links</h1>
      <p class="mt-2 text-sm text-gray-700">All shorten links.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= link_to "New Short URL", new_links_path, class: "block rounded-md bg-gray-900 px-3 py-2 text-center text-sm font-semibold text-gray-100 shadow-sm hover:bg-gray-700"  %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Label</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Short Url</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Target Url</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Total Clicks</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Delete</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @user.links.each do |link| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                  <%= link_to link.label, short_code_links_path(link.short_code), class: "text-indigo-600"  %>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link.title %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link.full_short_url(request) %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link.target_url %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link.link_clicks.size %></td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <%= link_to "Delete", destroy_links_path(link.short_code), data: { turbo: false }, class: "text-indigo-600" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
