<%= render(HeaderComponent.new()) %>

<div class="flex mt-14 space-x-2">
  <div class="w-1/2 space-y-2">
    <div>
      <h1 class="text-4xl font-extrabold">Shorten long URLs</h1>
    </div>
    <div>
      <p class="text-lg">Use the form to quickly shorten a long URL.</p>
    </div>
  </div>

  <div class="w-1/2">
    <%= form_with do |form| %>
      <div class="flex flex-col space-y-6">
        <div class="flex flex-col space-y-2 w-3/6">
          <%= form.label :title, "Title:" %>
          <%= form.text_field :title, class: "rounded-lg", placeholder: "My website" %>
        </div>
        <div class="flex flex-col space-y-2 w-5/6">
          <%= form.label :title, "URL:" %>
          <%= form.text_field :url, class: "rounded-lg", placeholder: "https://my-awesome-website.com" %>
        </div>
        <div class="flex flex-col space-y-2">
          <%= form.submit "Shorten it", class: "w-fit px-4 py-2 bg-gray-900 text-gray-100 hover:bg-gray-700 rounded-lg cursor-pointer" %>
        </div>
      </div>
    <% end %>
  </div> 
  <div></div>
</div>
